@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #200d01;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #200d01;
    --foreground: #ededed;
  }
}

body {
  color: var(--background) ;
  background:  var(--foreground);
  margin:0;
  padding:0;
  font-family:'Trebuchet MS'
}

.box-shadow {
  box-shadow:10px 20px 20px 0 rgba(0, 0, 0, 0.075);
}
.font-family {
  font-family: '__Ubuntu_7bf69b', '__Ubuntu_Fallback_7bf69b' !important;
}
.linear-gradient {
  background-image: linear-gradient(to left,white,rgb(255, 229, 180),white);
}
.kode-mono {
  font-family: "Kode Mono", monospace !important
}